<div class="content-wrapper" style="height: 3500px;">
  <section class="content">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Ships All</h3>
          <div class="box-tools pull-right">
            <span class="label label-primary">Label</span>
          </div>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of ships" >
                  <td>{{s.name}}</td>
                  <td>{{s.description}}</td>
                  <td><a type="button" class="btn btn-primary btn-xs">
                  Edit</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>